nav ul li:nth-child(2) {
  background-color: #2f2;
}

nav ul li:nth-child(2):hover {
  background-color: #1e1;
}

#cvIFrame {
  width: 100%;
  bottom: 0;
  overflow: hidden;
  display: block;
  height: 100%;
}

#cvIframe #cvIframe #cvIframe ::-webkit-scrollbar {
  width: 20px;
}

#cvIframe html ::-webkit-scrollbar-track {
  background: #0a0;
}

/* Handle */
#cvIframe html ::-webkit-scrollbar-thumb {
  background: #1d1;
}

/* Handle on hover */
#cvIframe html ::-webkit-scrollbar-thumb:hover {
  background: #2f2;
}

footer {
  display: block;
}