nav ul li:first-child {
  background-color: #2f2;
}

nav ul li:first-child:hover {
  background-color: #1e1;
}

#mainArticle {
  margin: 0 20px 20px 20px;
  text-align: justify;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#mainArticle h2 {
  width: 100%;
}

.mePhotos {
  width: 45%;
  height: fit-content;
  border: #2f2 solid;
  border-width: 2px;
  text-align: center;
  margin-bottom: 20px;
}

#pic2, #pic3 {
  display: none;
}

@media (min-width: 1000px) {

  #mainArticle h2 {
    font-size: 32px;
    margin: 20px 0;
  }

  #mainArticle p {
    font-size: 20px;
  }

  .mePhotos {
    width: unset;
    height: 200px;
  }

  #pic2, #pic3 {
    display: block;
  }

  .mePhotos:hover {
    height: 300px;
  }
}