@media (min-width: 1000px) {
  body {
    width: unset;
    background-image: url('../images/CompScreen.jpg');
    background-color: #000;
    background-size: unset;
    background-position: 50% top;
    background-repeat: no-repeat;
    position: relative;
    top: 148px;
    margin: 0 auto;
    width: 950px;
    max-width: 950px;
    height: 700px;
  }
  
  /*#region Scrollbar*/
  body ::-webkit-scrollbar {
    width: 20px;
  }

  body ::-webkit-scrollbar-track {
    background: #0a0;
  }

  body ::-webkit-scrollbar-thumb {
    background: #1d1;
  }

  body ::-webkit-scrollbar-thumb:hover {
    background: #2f2;
  }
  /*#endregion Scrollbar*/

  #compScreen {
    position: relative;
    background: #000;
    border-color: #2f2;
    border-width: 10px;
    border-style: solid;
    border-radius: unset;
    height: 100%;
    width: 100%;
    color: #2f2;
    font-family: 'Courier New', Courier, monospace;
  }

  nav span {
    display: none;
  }



  
}