nav ul li:nth-child(3) {
  background-color: #2f2;
}

nav ul li:nth-child(3):hover {
  background-color: #1e1;
}

/* {
  width: 100%;
  bottom: 0;
  overflow: hidden;
  display: block;
  height: 100%;
}*/